<!DOCTYPE html>
<html>
<head>
  <title>Halaman Web</title>
</head>
<body>
  <h1>Berada di app Belajar folder templates/html</h1>
  <div>
    Halaman web ini menggunakan template.
    Semoga menjadi lebih bermutu.
  </div>

  <div>
    <ul>
      <li>
        Klik untuk melihat halaman <a href="publishing/">publishing</a> melalui url langsung
      </li>
      <li>
        Klik untuk melihat halaman <a href="{% url 'home_publishing' %}">publishing</a> melalui nama url
      </li>
    </ul>
  </div>
</body>
</html>
